$txtwhite: #ffffff;
$txtgray: #999999;
$message-color: #434A54;
$btnblue: #38aef0; 


* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.side-bar {
  height: 100vh;
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
    }
  p.user-name {
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: $txtwhite;
  }
  .menu {
    width: 60px;
    display: flex;
    list-style: none;
    &__cog {
      margin:0 0 0 5px;
    }
    &__edit{
      margin:0 0 0 auto;
    }
    .icon {
      color: $txtwhite;
    }
  }
  }
  &__group-list {
    height: calc(100% - 100px);
    background-color: #2f3e51;
    &__group {
      font-weight: bold;
      color: $txtwhite;
      &__name {
        font-size: 15px;
        padding: 20px 20px 5px;
      }
      &__new-message {
        font-size: 11px;
        padding: 0 20px 40px 20px;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: $txtwhite;
    display: flex;
    justify-content: space-between;

    &__box {
      margin-left: 40px;
      margin-top: 35px;
      &__group-name {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__members {
        font-size: 12px;
        color: $txtgray;
      }
    }
    &__btn {
      display: block;
      color: $btnblue;
      height: 40px;
      width: 72px;
      border: solid 1px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      margin-right: 40px;
      text-decoration: none;
    }
  }
  &__message-list {
    height: calc(100% - 190px);
    background-color: #fafafa;
    &__post {
      padding: 35px 0 11px 40px;
      &__box {
        display: flex;
        &__name {
          font-size: 16px;
          color: #333333;
        }
        &__time {
          font-size: 12px;
          color: $txtgray;
          margin-left: 5px;
        }
      }
      &__message {
        font-size: 14px;
        color: $message-color;
        margin-top: 12px;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    .message-form {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 40px;
      &__input-box {
        width: 100%;
        display: flex;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          color: $message-color;
          border-style: none;
          padding-left: 10px;
        }
        &__image {
          cursor: pointer;
          position: absolute;
          font-size: 1.3rem;
          right: 10px;
          top: 10px;
          &__file {
            display: none;
          }
        }
      }
      &__submit-btn{
        height: 50px;
        width: 100px;
        background-color: $btnblue;
        text-align: center;
        margin-left: 15px;
        color: $txtwhite;
        cursor: pointer;
      }
    }
  }
}
